body {
    background-color: #132231;
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0;
    justify-content: space-between;

}

.leftside-circle {
    background-color: #5b120c;
    height: 100vh;
    width: 25vw;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.center-div {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.pokemon-logo {
    width: 100%;
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;

}

.menu-option {

    border-radius: 10px;
    font-size: 2rem;
    width: 26%;
    text-align: center;
    font-family: 'Signika', sans-serif;
    margin-top: 15px;
    background-color: transparent;
    color: white;
    border-color: white;
    transition: 0.5s;


}
.menu-option:hover{
    background-color: aliceblue;
    color: black;
}

.rightside-circle {
    background-color: #5b120c;
    height: 100vh;
    width: 25vw;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;

}